@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 26 26 26;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #fafafa;
    color: #1a1a1a;
  }
}
